<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1Ijoic3ZjLW9rdGEtbWFwYm94LXN0YWZmLWFjY2VzcyIsImEiOiJja244MjY3NzcwdG1vMnVwNjVnZXNwcWptIn0.fMJxmUQsfCfAYzSE2EvHdw</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to show you on the map and demonstrate location tracking features.</string>
</dict>
</plist>
